numpy
pymongo
zarr
sklearn
pandas
pymaid
neuroglancer==1.1.2
cloud-volume
git+git://github.com/funkelab/daisy@0d5d38a17d7250979284ace369bd71b89d004c97#egg=daisy
git+git://github.com/funkelab/funlib.math@0c623f71c083d33184cac40ef7b1b995216be8ef#egg=funlib.math
git+git://github.com/funkelab/funlib.run@959f3d4401a3b25979150bd7c3fabd46d6994069#egg=funlib.run
git+git://github.com/funkey/gunpowder@663e858b651e2fe9c8b348a6aed5504d79f11683#egg=gunpowder
git+git://github.com/funkelab/funlib.show.neuroglancer@25952fab13a6baeb8b3b8308a3ff2f873cfe6af1#egg=funlib.show.neuroglancer
